
.BannerContainer{
    background-image: url('../../../assets/banner.png');
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
    .Banner{
        position: absolute;
        right: 30px;
        bottom: 100px;
        background-color: #FFF3E3;
        width: 450px;
        padding: 60px;
        line-height: 30px;
        .BannerTitle1{
            color: black;
            font-size: 14px;
            font-weight: 600;
        }
        .BannerTitle2{
            color: #B88E2F;
            font-size: 30px;
            line-height: 35px;
            font-weight: 800;
            width: 300px;
            padding: 20px 0;
        }
        .BannerDesc{
            color: black;
            font-size: 14px;
            padding: 20px 0;
        }
        .BannerBtn button{
            background-color: #B88E2F;
            color: #FFF3E3;
            padding: 10px 50px;
            border: transparent;

        }
    }

}
@media screen and (min-width:320px) and (max-width:1024px) {
    .BannerContainer{
        background-repeat: round;
        height: 100vh;
        width: 100%;
        .Banner{
            position: absolute;
            right: 10px;
            bottom: 100px;
            background-color: #FFF3E3;
            width: 180px;
            padding:20px;
            line-height: 30px;
            .BannerTitle1{
                color: black;
                font-size: 14px;
                font-weight: 600;
            }
            .BannerTitle2{
                color: #B88E2F;
                font-size: 16px;
                line-height: 35px;
               
                font-weight: 800;
                width: 200px;
                padding: 20px 0;
            }
            .BannerDesc{
                color: black;
                font-size: 14px;
                padding: 20px 0;
            }
            .BannerBtn button{
                background-color: #B88E2F;
                color: #FFF3E3;
                padding: 10px 50px;
                border: transparent;
    
            }
        }
    }
}